            QTextEdit {
                background-color: #002B36;
                color: #839496;
                selection-background-color: #073642;
                selection-color: #839496;
            }
